
<mat-dialog-content  >
  <div class="card" tabindex="0">
    <div class="Addwork-form">
        <div class="Addwork-details">
            <form>
               <h2>Add Work</h2>
               <label for="Start">Date<ion-icon name="time"></ion-icon>:</label><input type="text" id="Start" name="Start" placeholder="" [(ngModel)]="date"><br> 
                
               <label for="client">Client <ion-icon name="laptop"></ion-icon>:</label>
               <div><mat-form-field appearance="fill" class="white-background">
                <mat-label *ngIf="!selectedValue">--Select Client Name--</mat-label>
                <mat-select [(ngModel)]="selectedValue">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field></div><br>
               <label for="projectname">Project name <ion-icon name="journal"></ion-icon>:</label><div><mat-form-field appearance="fill" class="white-background">
                <mat-label *ngIf="!selectedValue">--Select Project Name--</mat-label>
                <mat-select [(ngModel)]="selectedValue">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field></div><br>
               <label for="task">Task <ion-icon name="clipboard"></ion-icon>:</label><div class="custom-class"><mat-form-field appearance="fill" class="white-background">
                <mat-label *ngIf="!selectedValue">--Select Task--</mat-label>
                <mat-select [(ngModel)]="selectedValue">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field></div><br>
               <label for="Description">Description<ion-icon name="reorder-four"></ion-icon>:</label><textarea id="Description" name="Description" rows="4" cols="50">
            </textarea>
               <label for="Start">Start Time <ion-icon name="time"></ion-icon>:</label><input type="time" id="Start" name="Start" placeholder="Start Time"><br>
               <label for="End">End Time <ion-icon name="time"></ion-icon>:</label><input type="time" id="End" name="End" placeholder="End Time"><br>
               <label for="Hours">Hours <ion-icon name="hourglass"></ion-icon>:</label><input type="text" id="Hours " name="Hours" placeholder="Hours"><br>
               <label for="Status">Status <ion-icon name="stats-chart"></ion-icon>:</label><input type="text" id="Status" name="Status" placeholder="Status" value="Pending"><br>
               <div class="form-submit">
                <input type="submit" name="submit" id="submit" class="Save" value="Save">
                </div>
            </form> 
        </div>
    </div>
  </div>
    
</mat-dialog-content>

