

<div mat-dialog-content>
    <mat-form-field>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
        <p>{{data.desc}}</p>
    </mat-form-field>
  </div>
